<!doctype html>
<html prefix="og: http://ogp.me/ns#" lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible"  content="IE=edge">
    <meta name="viewport"               content="width=device-width, initial-scale=1">
    <meta name="description"            content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <meta property="og:title"           content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:url"             content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <meta property="og:type"            content="{% if page.title %}article{% else %}website{% endif %}">
    <meta property="og:image"           content="{% if page.thumblink %}http://klos.co{{ page.thumblink }}{% else %}http://klos.co/img/facebook.png{% endif %}">
    <meta property="og:site_name"       content="{{ site.title }}">
    <meta property="og:description"     content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta property="article:author"     content="https://www.facebook.com/janklosowski">
    <meta property="fb:admins"          content="627272441">
    <meta property="fb:app_id"          content="116769398411111">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="stylesheet"  href="https://fonts.googleapis.com/css?family=Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i">
    <link rel="stylesheet"  href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical"   href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate"   href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" type="application/rss+xml" title="{{ site.title }}">
