$link:       #c60c30
$unit:       14px
$lineheight: 21px
$ratio:      1.61803398875

@font-face
  font-family: 'Roboto Mono'
  font-style: normal
  font-weight: 400
  src: local('Roboto Mono Regular'), local('Roboto-Mono-Regular'), url(../fonts/RobotoMonoRegular.woff) format('woff')
  font-display: swap
@font-face
  font-family: 'Roboto Mono'
  font-style: italic
  font-weight: 400
  src: local('Roboto Mono Italic'), local('Roboto-Mono-Italic'), url(../fonts/RobotoMonoItalic.woff) format('woff')
  font-display: swap
@font-face
  font-family: 'Roboto Mono'
  font-style: normal
  font-weight: 700
  src: local('Roboto Mono Bold'), local('Roboto-Mono-Bold'), url(../fonts/RobotoMonoBold.woff) format('woff')
  font-display: swap

*
    margin:  0
    padding: 0
    border:  none

a
    color:           $link
    text-decoration: none

sur
    font-size:   1rem/$ratio
    font-weight: bold
    position:    relative
    top:        -.5rem
    margin-left: .1rem

img
    max-width: 100%

figure
    position:   relative
    text-align: center
    img
        margin-bottom: 0

html, body
    color: #333

p, ol, ul, h1, h2, h3, h4,
img, video, pre, code, figure,
.post__time, .header, .category
    margin-bottom: 2rem

html,
body,
code,
h2,h3,h4,h5,
pre,code,
.aboutme
    font-family: "Roboto Mono", monospace, sans-serif
    font-size:   $unit
    line-height: 1em*$ratio

.page
    padding:   2.7rem 3rem
    display:   block
    max-width: 44rem
    position:  relative
    z-index:   1
    margin:    0 auto

.header
    display: block

.aboutme
    font-weight: normal

.postlink
    display: block
    &:hover
        .postlink__title__arrow
            opacity: 1
        .postlink__time
            color: #333

.postlink__time,
.postlink__title
    font-weight: normal
    display:     inline

.sociallinks,
.postlink__time,
.category__header
    color:       #767676
    font-weight: normal

.postlink__title__arrow
    opacity: 0

.post__title
    font-size:     1rem * $ratio
    margin-bottom: 2.4rem
    font-weight:   bold

.post__intro
    font-style:  italic
    font-size:   1rem / $ratio
    line-height: 1em * $ratio

.post__time
    display: block

.post__content
    img,
    video
        display:      block
        margin-left:  auto
        margin-right: auto
        text-align:   center

.side
    width: calc((100vw - 44rem - 2*3rem)/2)
    height: 100vh
    position: fixed

.side--image
    background-image: url(../img/janklosowski01.jpg)
    background-position: top center
    background-size: cover

.side--mask
    background-position: top right

.side--mask--1
    background-image: url(../img/mask.png)
    background-size: 4px
