{%- assign id                 = include.id -%}
{%- assign element_id         = include.element_id -%}
{%- assign element_classname  = include.element_classname -%}
{%- assign nesting_level      = include.nesting_level -%}
{%- assign formatted_date     = include.formatted_date -%}
{%- assign date_xml_schema    = include.date_xml_schema -%}
{%- assign author_name        = include.author_name -%}
{%- assign message            = include.message -%}
{%- assign website_id         = include.website_id -%}

<div id="{{ element_id }}" class="{{ element_classname }}" data-comment-id="{{ id }}"
     data-author-name="{{ author_name }}" data-nesting-level="{{ nesting_level }}">
  <div class="welcomments__comment-header">
    <div class="welcomments__author-avatar">
      <img class="welcomments__author-avatar-img"
           src="https://eu.ui-avatars.com/api/?background=random&name={{ author_name }}"/>
    </div>
    <div class="welcomments__author-information">
      <div class="welcomments__author-name-and-time">
        <div class="welcomments__author-name">
          {{- author_name -}}
        </div>
        <div class="welcomments__comment-time">
          <a href="#welcomments__comment-{{ id }}">
            <time datetime="{{ date_xml_schema }}">
              {{- formatted_date -}}
            </time>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="welcomments__comment-message">
    {{- message -}}
  </div>
  <a class="welcomments__comment-reply-link"
     href="{{ include.api_url }}/comments/websites/SeNbxogmOtK6aC5qRS1k/comments/{{ id }}/reply">
    Reply to {{ author_name }}
  </a>
</div>