---
layout: default
---
<article class="post">

	<div class="post__content">

		{{ content }}

		<div class="textalign--center">
			<span id="e538188782">[javascript protected email address]</span><script type="text/javascript">/*<![CDATA[*/eval("var a=\"Kqr8hVOoewMEmP3j_LHic2DBXxsbtdZNA5J+g4uYGv0SCUFR.kz7W@6y1ap-T9lIQfn\";var b=a.split(\"\").sort().join(\"\");var c=\"zv6P7Wy-rSy\";var d=\"\";for(var e=0;e<c.length;e++)d+=b.charAt(a.indexOf(c.charAt(e)));document.getElementById(\"e538188782\").innerHTML=\"<a href=\\\"mailto:\"+d+\"\\\">\"+d+\"</a>\"")/*]]>*/</script>
			&middot; <a href="https://github.com/janklosowski" rel="nofollow" target="_blank">github</a>
			&middot; <a href="https://twitter.com/klos" rel="nofollow" target="_blank">twitter</a>
			&middot; <a href="https://www.linkedin.com/in/janklosowski" rel="nofollow" target="_blank">linkedin</a>
			&middot; <a href="https://www.facebook.com/janklosowski" rel="nofollow" target="_blank">facebook</a>
		</div>
	</div>

</article>
